<!--ここはaboutページから遷移される最初のページです。-->
<!--検索や他のユーザーの投稿一覧が更新順で閲覧できます。-->

<h2>ようこそ</h2>
<h1><%=link_to current_public.name, public_customers_path, style: "color:black;", class: "link" %><!--post/controller#createから--></h1><h2>さん</h2>
<h1>投稿をしてみましょう</h1>
<%= link_to "投稿", new_public_post_path, style: "color:black;", class: "link" %>


