<!--ここはaboutページから遷移される最初のページです。-->
<!--検索や他のユーザーの投稿一覧が更新順で閲覧できます。-->

<h1>ようこそ</h1>
<%=link_to current_public.name, public_customers_path %><!--post/controller#createから-->
<h1>投稿をしてみましょう</h1>
<%= link_to "投稿", new_public_post_path %>


