<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<!--以下はゲストログイン-->
<%= link_to 'ゲストログイン(閲覧用)', homes_guest_sign_in_path, method: :post %>
<%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>